.head-text-div {
    width: 40%;
    text-align: center;
    margin:auto;
}

h6, .head-paragraph, .collect-heading, .collect-paragraph, .get-paid-heading, .get-paid-paragraph {
    font-weight: 500;
}

.head-title {
    font-size: x-large;
    margin: 5% 0%;
    text-align: center;
}

.head-paragraph {
    margin-bottom: 10%;
}

.head-paragraph2 {
    font-size: small;
    text-align: center;
}

.multi-box {
    display: flex;
    flex-direction: row;
    /* display: grid; */
    /* grid-template-columns: 2fr 3fr; */
    width: 50rem;
    margin: auto;
    border: 1px solid gray;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 75px;
}

.box1 {
    flex: 2;
    background-color: white;
}

.box2 {
    flex: 3;
    background-color: blue;    
    border-left: 1px solid rgb(213, 213, 213);
}

.multi-box-left-image1 {
    width: 80%;
    display:block;
    margin: 20% auto;
}

.multi-box-left-image2 {
    width: 80%;
    display:block;
    margin: 30% auto;
}

.multi-box-left-image3 {
    width: 80%;
    display:block;
    margin: 40% auto;
}

.collect-head-div {
    width: 75%;
    height: 40%;
    text-align: center;
    padding: 70px 0px;
}

.ease-head-div {
    height: 25%;
    padding-top: 60px;
    padding-left: 8%;
}

.collect-text-div {
    padding: 0% 8%;
}

.collect-heading, .collect-paragraph, .get-paid-heading, .get-paid-paragraph {
    color: white;

}

.collect-heading {
    font-size: x-large;
}

.collect-paragraph {
    font-size: small;
}

.get-paid-div {
    text-align: center;
    height: 40%;
    padding: 80px 0px;
}

.get-paid-text-div {
    padding: 0% 7%;
}

.get-paid-heading {
    font-size: x-large;
}

.get-paid-paragraph {
    font-size: small;
}

.hold-objects-div {
    display: flex;
    flex-direction: row;
    width: 700px;
    margin: auto;
    justify-content: space-between;
}

.object {
    width: 120px;
    height: 150px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 16px;
    padding: 1%;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
}

.object1 {
    width: 120px;
    height: 150px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 16px;
    padding: 1%;
    text-align: center;
    position: relative;
    cursor: pointer;
}


#white-circle, #avatar-icon, #graph-icon, #convert-icon {
    display: block;
    margin: auto;
    margin-top: 10%;
}

#avatar-icon {
    margin-top: 30%;
}

#convert-icon {
    margin-top: 20%;
}

#dollar-sign {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
    left: 0;
    right: 0;
    top: 12px;
    margin-left: auto;
    margin-right: auto;
}

.object:hover > .object-label {
    color: black;
}

.object-label {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    color: gray;
}

.grid-box {
    display: grid;
    grid-template-columns: 240px 240px;
    justify-content: center;
    column-gap: 150px;
    row-gap: 80px;
    margin-bottom: 300px;
}

.section-card {
    height: 300px;
    position: relative;
}

.section-card-image {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}

.section-card-bubble {
    background-color: rgb(230, 236, 255);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid gray;
    margin: 0px auto;
}

.learn-more-box {
    border: 2px solid gray;
    border-radius: 4px;
    width: 160px;
    margin: auto;
    height: 35px;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
}

.learn-more-box:hover,
.object:hover {
    opacity: 0.75;
    background-color: rgb(230, 236, 255);
    border-color: black;
    transition-duration: 0.5s;
}

.learn-more-box:active,
.object:active {
    opacity: 0.5;
}

#learn-button {
    color: rgb(255, 255, 255);
    background-color: blue;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 4px;
    height: 35px;
    width: 200px;
    position: relative;
    font-size: small;
    font-weight: bold;
    transition-duration: 0.5s;
}

#learn-button:hover {
    background-color: white;
    color: blue;
    opacity: 1;
    transition-duration: 0.5s;
}

#learn-button:active {
    opacity: 0.9;
}

#learn-button:hover > #learn-button-arrow {
    color: blue;
}

#learn-button-arrow {
    color: white;
    position: absolute;
    right: 0;
    top: 3px;
    font-size: large;
}

.learn-more-text {
    text-align: center; 
    font-size: 12px;
}

.learn-box-arrow {
    font-size: large;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bold;
}

.bullet-points {
    font-size: x-small;
    color: white;
}

#signIn{
    color: blue;
    background-color:white;
    margin-right: 15px;
    
}

#rightSide {
    /* display: wrap; */
    float: right;
    max-width: 800px;
    max-height: 380px;
  }

  @media (min-width: 30px) {
   #rightSide {
    /* #rightSide {width: 200px; float: left;} */
        display: wrap;
        
    }
    /* #main {margin-left: 216px;} */
  }

a:hover {
    color: blue;
  }

.foot{
    background-color: blue;
}

#try{
    font-size: large;
    font-weight: 700;
}

.pad{
    padding-bottom: 50px;
}

.padl{
    padding-left: 50px;
}

#padL{
    padding-left: 10px;
}

.spanBlue{
    color: blue;
}

.spanWhite{
    color: white;
}

.half{
    max-width: 40%;

}

half1{
    color: gray;
    font-weight: 500;    
}

half2{
    color: black;
    font-weight: 800;
}
 .textWhite{
    color: white;
 }

.bold{
    color: gray;
    font-weight: 800;    
}
